#div-content {
    width: 100%;

}

#btn-go, #div-output, #a-maps {
    width:100%;

}

#btn-go {
    font-size: 10em;
}
#div-output {
    font-size: 3em;
    text-align: center;
    margin-top:2em;
    margin-bottom:2em;
}

#a-maps {
    font-size: 3em;
    text-align: center;
    display:block;
}
