#btn-go {
    width: 400px;
    height: 100px;
    margin:10px;
}

#div-output {
    width:400px;
    height:100px;
    margin:10px;
}

#a-maps {
    width:400px;
    height:100px;
    margin:10px;
    text-align: center;
}
